@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;

}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 6px 46px;
      color: black;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 1000;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #5325A9;
      box-shadow: 0px 4px 6px 0px #323232;
}

  nav.black .logo{
           color: #fff !important;
      }

      nav.black ul li a{
      	color: #fff !important;
      }


nav ul li {
      display: inline-block;
      padding: 0px 40px;;
}

nav ul li a {
      text-decoration: none !important;
      color: #fff;
      font-size: 16px;
}

nav ul li a:hover{
	color: #323232;
	font-weight: bold;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background:#5325A9;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #5325A9;
      }

      nav.black ul {
            background: #5325A9;
            box-shadow: 0px 4px 6px 0px #323232;
      }

      nav.black .logo{
           color: #fff;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}



.right-header{
	background-image: url('../img/portfolio_background2.jpg');
	height: 100vh;
}

.left-header{
	background-image: url('../img/portfolio_background.jpg');
}

.text_logo{
	font-family: 'Lato', sans-serif;
	font-size: 30px !important;
	color: black;
	font-weight: bolder;
}

.intro_con{
	margin: 200px 80px;
}

.intro_text{
	font-family: 'Merriweather', sans-serif;
	font-size: 40px;
}

.intro_name{
	font-family: 'Merriweather', sans-serif;
	font-size: 60px;
	color: ;
	letter-spacing: 1px;
	font-weight: 600;
}

.intro_para{
	font-family: 'Merriweather', sans-serif;
	font-size: 20px;
}


.right_intro_con{
	margin: 240px 40px;
}

.right_intro_con h2{
	font-size: 30px;
	color: #C7C5ED;
	font-weight: 400;
	font-family: 'Merriweather', sans-serif;
	letter-spacing: 1px;
}

.nav-list li{
	margin-right: 65px;
	transition: 0.3s;
}

.nav-list li:hover{
	border-top:4px solid #5729B0;
}

.nav-list li a:hover{
	color: #5729B0 !important;
}

.about_section{
	background: #5729b0;
	padding: 25px;
	margin-top: 25px;
	border-radius: 10px;
}
/* Testimonial coding*/

#slider-con{
	width: 100%;
	overflow-x: hidden;
}

.slider-scroll{
	width:3500px;
	position: relative;
}

#card{
	position: relative;
	width: 400px;
	margin-right: 100px; 
	padding: 10px 18px;
	box-shadow: 1px 1px 1px 0px #ddd;
}

.prev-btn, .next-btn{
	width: 40px;
	height: 40px;
	background: #ccc;
	margin-right: 10px;
	border-radius: 50%;
	text-align: center;
}

.prev-btn i, .next-btn i{
	margin-top: 10px;
	font-size: 20px;
}

.resume-con{
	width: 100%;
	padding: 30px;
	background-image: url('../img/resume_banner.jpg');
	background-size: cover;
	overflow: hidden;
}

.skill-section{
	width: 100%;
}

@keyframes progress{
	from {width: 0px;}
	to {width: 70%;}
}


.my-progress-bar{
	width: 70%;
	animation-name: progress;
	animation-duration: 2s;
	background: #5729B0 !important;
}


.form-btn{
	border-radius: 40px;
	background: #fff;
	border: none;
	color:blue;
	width: 200px;
	height: 40px;
	padding: 5px 8px;
	border: none;
	user-select: none;
}


.circle-con{
	width: 160px;
	height: 160px;
	border: 1px solid red;
	border-radius: 50%;
	background: #f5f5f5;
}

.circle-under{
	width: 140px;
	height: 140px;
	border: 1px solid red;
	
	border-radius: 50%;
	background: #fff;
}

.circle-progress{
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
}